<section class="about">
    <h2 class="about__title">Մեր մասին</h2>
    <p class="about__descr">
        Հիմնադրվել է 1844 թ. Ռուսական Կայսրության կառավարության կարգադրությամբ Սարատովի մարզից այստեղ տեղափոխված
        ռուսների կողմից և Կովկասի փոխարքայի անունով կոչվել է Վորոնցովկա։ 1935 թ այն վերանվանվել է հեղափոխական գործիչ
        Կալինինի անունով և կոչվել Կալինինո։ 1961 թ. դարձել է քաղաքատիպ ավան, իսկ 1983 թ դասվել է Հայաստանի քաղաքների
        շարքին։ Տաշիր է վերանվանվել 1991 թ. Տաշիր գավառի անունով։ Համայնքում կան հանրակրթական 3 դպրոցներ, մշակույթի
        տուն, գրադարաններ, մանկապարտեզներ, մարզադաշտ, մարզադպրոց, երաժշտական դպրոց, պոլիկլինիկա, հիվանդանոց, ծննդատուն,
        կապի հանգույց։ Քաղաքի տնտեսության մասնագիտացման ճյուղը արդյունաբերությունն է, որի մեջ մեծ տեսակարար կշիռ ունի
        սննդի արդյունաբերությունը։ Այստեղ կառուցված է շվեյցարական պանրի գործարանը, որն արտադրում է Լոռի, Չանախ տեսակի
        պանիրներ։ Ունի հացի գործարան, կաթի և կաթնամթերքի արտադրություն։
    </p>
</section>