<section class="catalog">
    <h2 class="catalog__title">Անձնակազմ</h2>
    <div class="catalog__content d-flex gap-3">
        <img src="/img/catalog-1.jpg" alt="catalog" class="catalog__img">
        <img src="/img/catalog-2.jpg" alt="catalog" class="catalog__img">
        <img src="/img/catalog-3.jpg" alt="catalog" class="catalog__img">
        <img src="/img/catalog-4.jpg" alt="catalog" class="catalog__img">
    </div>
</section>