<footer class="footer py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="footer__left">
            <a class="text-decoration-none text-white h2" href="#">Logo</a>
        </div>
        <div class="footer__right d-flex flex-column">
            <div class="d-flex align-items-center gap-2">
                <img src="/img/location.png" class="footer__icon" alt="location dot">
                <span class="footer__info">ՀՀ Լոռու մարզ, ք. Տաշիր, Վ.Սարգսյան 94</span>
            </div>
            <div class="d-flex align-items-center gap-2">
            <img src="/img/email.png" alt="email" class="footer__icon">
            <span class="footer__info">tashir.lori@mta.gov.am</span>
            </div>
        </div>
    </div>
</footer>