<section class="hero">
    <div class="content z-3 container position-relative">
        <h1 class="hero__title">Տաշիրի քաղաքապետարան</h1>
        <p class="hero__descr">
            Մենք պատրաստ ենք օգնել մեր ժողովրդին օրվա ցանկացած պահին, ցանկացած հարցով 
        </p>
        <button class="btn btn-white">Դիմել հարցով</button>
    </div>
</section>